@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* ----------------HEADER--------------- */

header {
    background-color: #bababa;
    height: 230px;
    padding: 32px;
    display: grid;
    grid-template-areas: "titulo som" "texto texto";
    grid-template-columns: 70% 30%;
    grid-row: 40% 60%;
}

header h3 {
    grid-area: titulo;
    color: #3FC500;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
    padding-top: 25px;
}

header p {
    grid-area: texto;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    width: 280px;
}

header #som {
    grid-area: som;
    padding-bottom: 20px;
}

header button {
    background-color: #bababa;
}

/* ----------------MAIN--------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.ir_para {
    background-color: #D9D9D9;
    width: 366px;
    height: 190px;
    margin-top: 36px;
    border-radius: 20px;
    align-items: center;
    
    display: grid;
    grid-template-areas: "titulo som" "praticar praticar";
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}

.titulos {
    grid-area: titulo;
    font-size: 36px;
    padding-left: 20px;
}

.praticar {
    grid-area: praticar;
    font-size: 36px;
    padding: 20px;
    color: #3FC500;
}

.ir_para a {
    text-decoration: none;
}

button {
    width: 60px;
    margin-right: 45px;
    border: none;
    background-color: #D9D9D9;
}

#som {
    grid-area: som;
    color: white;
    font-size: 70px;
    padding-left: 23px;
}

#som:active {
    color: #3FC500;
}

/* ---------FOOTER--------- */

footer {
    height: 106px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 6px solid #a7a5a5;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

footer span.material-symbols-outlined {
    font-size: 85px;
    color: #a7a5a5;
}

#especial {
    color: #3FC500;
}

footer img {
    display: none;
}

@media screen and (min-width:1536px) and (max-width:1537px) {

    body {
        display: grid;
        grid-template-areas: "footer" "header" "main";
        grid-template-columns: 100%;
        grid-template-rows: 20% 30% 50%;
        height: 100vh;
    }

    body button{
        cursor: pointer;
    }

    /* ----------------HEADER--------------- */

    header {
        height: 210px;
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        margin-top: 115px;
        padding-bottom: 60px;
    }

    header h3 {
        font-size: 40px;
    }

    header p {
        font-size: 40px;
        width: 440px;
    }

    header #som {
        font-size: 100px;
        transition: .55s ease-in-out;
    }

    header #som:hover{
        color: #3FC500;
    }

    header button {
        background-color: #bababa;
    }

    /* ----------------MAIN--------------- */

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 410px;
    }
    
    #som {
        color: white;
        font-size: 70px;
        padding-left: 23px;
        transition: .55s ease-in-out;
        transform: scaleX(0.9);
    }

    #som:active {
        color: #3FC500;
    }

    #som:hover{
        color: #3FC500;
        transform: scaleX(1);
    }

    .ir_para {
        background-color: #D9D9D9;
        width: 380px;
        padding: 20px;
        margin-top: 36px;
        border-radius: 20px;
    }

    .ir_para a {
        color: black;
        text-decoration: none;
        transition: .55s ease-in-out;
        transform: scaleX(0.9);
    }

    .ir_para a:hover{
        color: #3FC500;
        transform: scaleX(0.95);
    }

    .praticar {
        font-size: 36px;
        padding: 10px 5px;
        color: #3FC500;
    }

    /* ---------FOOTER--------- */

    footer {
        height: 120px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top: 0px solid #a7a5a5;
        border-bottom: 6px solid #a7a5a5;
        position: fixed;
        top: 0;
    }

    footer span.material-symbols-outlined {
        font-size: 85px;
        color: #a7a5a5;
        transition: all .55s ease-in-out;
        transform: scaleX(0.9);
    }

    footer span.material-symbols-outlined:hover{
        color: #3FC500;
        transform: scaleX(0.95);
    }

    footer img{
        display: flex;
        height: 170px;
    }

    footer h3 {
        display: none;
    }

    footer span.material-symbols-outlined {
        font-size: 85px;
        color: #a7a5a5;
    }

    #especial {
        color: #3FC500;
    }
};