@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* ----------------HEADER--------------- */

header {
    background-color: #bababa;
    height: 230px;
    padding: 32px;
    display: grid;
    grid-template-areas: "titulo som" "texto texto" "voltar voltar";
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 40% 20%;
}

header h3 {
    grid-area: titulo;
    color: #3FC500;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
    padding-top: 25px;
}

header p {
    grid-area: texto;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    width: 340px;
}

header #som {
    grid-area: som;
    padding-bottom: 20px;
}

header button {
    padding-top: 15px;
    background-color: #bababa;
}

header a {
    text-decoration: none;
}

#voltar {
    grid-area: voltar;
    background-color: #3FC500;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    padding: 10px 0px;
    border: 2px solid #308508;
}

#voltar:hover {
    box-shadow: 0px 0px 2px #308508;
    background-color: #3ba709;
}

/* ----------------MAIN--------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 145px;
}

.ir_para {
    background-color: #D9D9D9;
    width: 366px;
    height: 190px;
    margin-top: 36px;
    border-radius: 20px;
    align-items: center;
    
    display: grid;
    grid-template-areas: "titulo som" "praticar praticar" "voltar voltar";
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}

.titulos {
    grid-area: titulo;
    font-size: 28px;
    padding-left: 20px;
}

.estudar {
    grid-area: praticar;
    font-size: 36px;
    padding: 20px;
    color: #3FC500;
}

.ir_para a {
    text-decoration: none;
}

button {
    width: 100px;
    border: none;
    background-color: #D9D9D9;
}

#som {
    grid-area: som;
    color: white;
    font-size: 70px;
}

#som:active {
    color: #3FC500;
}

/* ---------FOOTER--------- */

footer {
    height: 106px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 6px solid #a7a5a5;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

footer span.material-symbols-outlined {
    font-size: 85px;
    color: #a7a5a5;
}

#especial {
    color: #3FC500;
}


